
body{
    padding: 0;
    margin: 0;
    background-color: #6d6d68;
    overflow-y: hidden ;
    font-family: 'Titillium Web', sans-serif;
    
}

/* ------------ container ------------ */
.app{
   
    padding-top: 60px;
    width:380px;
    margin:0 auto;
    

}

/* ------------ header ------------ */
.header{
    width: 380px;
    height:220px;
    background-image: url('../img/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 340px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:1px;
    left:14px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    border-radius: 50px 50px 50px 50px;
}
.fa-check-circle{
    color:#000;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color: #bcbcb8;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 380px;
    height:60px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px ;
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}
.add-to-do i.sa:hover{
    cursor: pointer;
     text-shadow: 1px 1px 1px #535353;
    transform: scale(1.05,1.05);
    
}
.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}


@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


.app{
   
   padding-top: 20px;
    width:350px;
    height: 600px;
   margin:0 auto;
    
}

.header{
    width: 350px;
    height:200px;
    background-image: url('../img/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.content{
    width:350px;
    height: 300px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.item{
    width:350px;
    height: 40px;
    min-height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.add-to-do{
    position: relative;
    width: 350px;
    height:60px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px ;
}
.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 290px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
}






@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


.app{
   
   padding-top: 30px;
    width:380px;
    height: 660px;
    margin-left: 4%;
}

.header{
    width: 380px;
    height:220px;
    background-image: url('../img/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.add-to-do{
    position: relative;
    width: 380px;
    height:65px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px ;
}
.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 300px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
}


















